#
#  .exports
#  My shell exports.
#
#  Created by Zakhary Kaplan on 2019-06-04.
#  Copyright © 2019 Zakhary Kaplan. All rights reserved.
#

# --------------------------------
#             Exports
# --------------------------------

# -- Dotfiles --
export DOTFILES="$HOME/.dotfiles"

# -- Plugins --
# fzf
export FZF_DEFAULT_COMMAND='fd'
export FZF_DEFAULT_OPTS='--select-1 --exit-0'
export FZF_CTRL_T_COMMAND='$FZF_DEFAULT_COMMAND'
export FZF_CTRL_T_OPTS="--preview '(highlight -O ansi -l {} 2> /dev/null || cat {} || tree -C {}) 2> /dev/null | head -200'"
export FZF_CTRL_R_OPTS="--sort --preview 'echo {}' --preview-window down:3:hidden:wrap --bind '?:toggle-preview'"
export FZF_ALT_C_COMMAND='$FZF_DEFAULT_COMMAND --type d'
export FZF_ALT_C_OPTS="--preview 'tree -C {} | head -200'"
