#
#  .exports
#  Shell exports.
#
#  Created by Zakhary Kaplan on 2019-06-04.
#  Copyright © 2019 Zakhary Kaplan. All rights reserved.
#

# --------------------------------
#             Exports
# --------------------------------

# -- Dotfiles --
export DOTFILES="$HOME/.dotfiles"

# -- Environment --
export EDITOR="$(command -v vim)"
export PAGER="$(command -v less)"

# -- Utilities --
# bat
export BAT_THEME='Nord'
# fzf
export FZF_DEFAULT_COMMAND='fd'
export FZF_DEFAULT_OPTS="
    --bind '?:toggle-preview'
    --bind 'ctrl-a:toggle-all'
    --bind 'ctrl-v:execute(echo {+} | xargs -o vim)'
    --bind 'ctrl-y:execute-silent(echo {+} | pbcopy)'
    --color='prompt:25,pointer:110,marker:222'
    --exit-0
    --info=inline
    --layout=reverse
    --multi
    --preview '([[ -f {} ]] && (bat --style=numbers --color=always {} || cat {})) || ([[ -d {} ]] && (tree -C {} | less)) || echo {} 2> /dev/null | head -200'
    --prompt='~ '
    --select-1
"
export FZF_CTRL_T_COMMAND='$FZF_DEFAULT_COMMAND'
export FZF_CTRL_T_OPTS=''
export FZF_CTRL_R_OPTS="--sort --preview 'echo {}' --preview-window down:3:hidden:wrap"
export FZF_ALT_C_COMMAND='$FZF_DEFAULT_COMMAND --type d'
export FZF_ALT_C_OPTS="--preview 'tree -C {} | head -200'"
