#
#  .functions
#  My shell functions.
#
#  Created by Zakhary Kaplan on 2019-06-04.
#  Copyright © 2019 Zakhary Kaplan. All rights reserved.
#

# --------------------------------
#            Functions
# --------------------------------

# -- Developer --
function runc() { gcc ${@:-*.c} && ./a.out && rm a.out; }
function runcpp() { g++ -std=c++2a ${@:-*.cpp} && ./a.out && rm a.out; }
function sourcecode() {
    local description="\[Description\]"
    [ ! $2 ] && echo -n "Comment prefix: " && read 2
    [ ! $3 ] && echo -n "Description: " && read 3
    mkdir -p $(dirname $1)
    cat "$CODE_TEMPLATE" |
        sed "s/template.txt/$(basename ${1:-template.txt})/" |
        sed "s|//|${2:-//}|" |
        sed "s/$description/${3:-$description}/" |
        sed "s/1970-01-01/$(date +%F)/" |
        sed "s/1970/$(date +%Y)/" > $1
    cat $1
}
function upgrade_dotfiles() {
    bash "$DOTFILES/tools/upgrade.sh" "$@"
}

# -- Filesystem --
function finder() { find ${2:-.} -iname "*$1*"; }
function fdin() { grep -yErIn --color=always $1 ${2:-.}; }
function trash() { mv -f $@ ~/.Trash; }

# -- tmux --
function tas() { tmux attach-session ${1:+"-t$1"}; }
function tkss() { tmux kill-session ${1:+"-t$1"}; }
function tns() { tmux new-session ${1:+"-s$1"}; }
