#
#  .aliases
#  My shell aliases.
#
#  Created by Zakhary Kaplan on 2019-06-04.
#  Copyright © 2019 Zakhary Kaplan. All rights reserved.
#

# --------------------------------
#             Aliases
# --------------------------------

# -- git --
alias gha='cat ~/.oh-my-zsh/plugins/git/git.plugin.zsh | grep'

# -- Shell --
alias path='echo ${PATH//:/\\n}'
alias reload='clear && exec $SHELL -l'

# -- tmux --
alias t='tmux'
alias tas='tmux attach-session -t'
alias tkss='tmux kill-session -t'
alias tksv='tmux kill-server'
alias tls='tmux list-sessions'
alias tns='tmux new-session -s'
