#
#  .functions
#  My shell functions.
#
#  Created by Zakhary Kaplan on 2019-06-04.
#  Copyright © 2019 Zakhary Kaplan. All rights reserved.
#

# --------------------------------
#            Functions
# --------------------------------

# -- Developer --
function runc() { gcc $@ && ./a.out && rm a.out; }
function sourcecode() {
    local description="\[Description\]"
    [ ! $2 ] && echo -n "Comment prefix: " && read 2
    [ ! $3 ] && echo -n "Description: " && read 3
    cat $CODE_TEMPLATE |
        sed "s/template.txt/${1:-template.txt}/" |
        sed "s|//|${2:-//}|" |
        sed "s/$description/${3:-$description}/" |
        sed "s/2019-01-01/$(date +%F)/" |
        sed "s/2019/$(date +%Y)/" > $1
    vim $1
}

# -- Filesystem --
function finder() { find ${2:-.} -iname "*$1*"; }
function findin() { grep -yErIn --color=always $1 ${2:-.}; }
function trash() { mv -f $@ ~/.Trash; }
